@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
@import "logo.css";
* {
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}
header{
    display: flex;
    border-bottom: 2px rgba(14, 77, 139, 0.88) solid;
}
header nav{
    background: #036;
    width: 100%;
    min-height: 8vh;
    flex-shrink: 0;
}

label.logo{
    color: #FF5003;
    font-family: Montserrat;
    font-size: 35px;
    padding: 0 100px;
    line-height: 80px;
    font-weight: 700;
}
header nav ul {
    float: right;
    margin-right: 3.3rem;
    position: absolute;
    top: 0;
    right: 20px;
    height: 80px;
}

header nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px ;
    
}


header nav a{
    color: #FF8E00;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}








/*wrapper*/
.wrapper{
    display: flex;
    min-height: calc(100vh - 8vh);
}

/*sidebar*/
.wrapper .sidebar{
    flex: 25.55%;
    
    background-color: #036;
    flex-shrink: 0;
    border-right: 3px rgba(14, 77, 139, 0.88) solid;
}
.sidebar-ul .active{
    background: #FF8E00;
}

.wrapper .sidebar ul li a{
    margin: 0;
    padding: 0;
    color:#fff;


    /*figma*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03375rem;
    padding: 20px;
    padding-left: 60px;
    
    
    display: block;
    align-items: center;
}

.nav-link .icon{
    margin-right: 15px;
}




/*content*/

.wrapper .main-page{
    flex: 74.45%;
    background: #002347;
    padding: 40px 100px 100px;
    
}

.wrapper .main-page h1{
    color: #FFF;
    text-align: center;
    color: #FF8E00;
    padding: 3vh;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    letter-spacing: 1.08px;
    text-transform: uppercase;
    
}
.wrapper .main-page p{
    color: #fff;
    text-align: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.54px;
    padding: 3vh;
}


.wrapper .main-page header{
    border: transparent;
    padding-top: 30px;
 }
 
 .wrapper .main-page .add{
     all: unset;
     padding-right: 15px;
     padding-bottom: 2vh;
     border: transparent;
     text-align: center;
     color: #ffffff;
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: bold;
     text-transform: uppercase;
 
 }
 
 .wrapper .main-page .prof{
     all:unset;
     padding-right: 15px;
     padding-bottom: 2vh;
     border: transparent;
     text-align: center;
     color: #FF8E00;
     font-family: Roboto;
     font-size: 36px;
     font-style: normal;
     font-weight: bold;
     text-transform: uppercase;
 
 }









/*table*/

.permission{
    font-weight: 600;
    font-family: Montserrat, sans-serif;
    background-color: #03111f;
    border-radius: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
    font-size: 20px;
    overflow-y: scroll;
    overflow-x: auto;
}

th,
td{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid gray;
    color: #fff;
}
thead {
    font-family: Roboto;

  }
thead th{
    color: #b66401;
    font-weight: bold;
}

i{
    color: #fff;
}
.icon-t-edit:hover{
    color: lime;
}
.icon-t-del:hover{
    color: rgb(255, 0, 0);
}

.forgot-password {
    background-color: #FF8E00;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-family: Montserrat;
  }





.buttons button:hover{
    background-color: #b66401;
}