.logo-container {
    display: flex;
    align-items: center;
}

.logo-img {
    width: 55px; /* Adjust the width as needed */
    height: auto;
    margin-left: 50px; /* Adjust the margin as needed */
    margin-right: -75px;
}
