@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300&display=swap');
@import "logo.css";
* {
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: auto;
}
header{
    display: flex;
    border-bottom: 2px rgba(14, 77, 139, 0.88) solid;
}
header nav{
    background: #036;
    width: 100%;
    min-height: 8vh;
    flex-shrink: 0;
}

label.logo{
    color: #FF5003;
    font-family: Montserrat;
    font-size: 35px;
    padding: 0 100px;
    line-height: 80px;
    font-weight: 700;
}
header nav ul {
    float: right;
    margin-right: 3.3rem;
    position: absolute;
    top: 0;
    right: 20px;
    height: 80px;
}

header nav li{
    display: inline-block;
    margin: 0 8px;
    line-height: 80px ;
}


header nav a{
    color: #FF8E00;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: bold;
}








/*wrapper*/
.wrapper{
    display: flex;
    min-height: calc(100vh - 8vh);
}

/*sidebar*/
.wrapper .sidebar{
    flex: 25.55%;
    
    background-color: #036;
    flex-shrink: 0;
    border-right: 3px rgba(14, 77, 139, 0.88) solid;
}
.sidebar-ul .active{
    background: #FF8E00;
}

.wrapper .sidebar ul li a{
    margin: 0;
    padding: 0;
    color:#fff;


    /*figma*/
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.03375rem;
    padding: 20px;
    padding-left: 60px;
    display: block;
    align-items: center;
    
    
}

.nav-link .icon{
    margin-right: 8px;
}

/*child sidebar*/
.child-sb .child-sidebar-li{
    margin-left: 4vh;
}
.child-sb .child-sidebar-li .child-link{
    font-size: 0.885rem;
}
.sidebar .child-active{
    background-color:  #fc8e098c;;
}




/*content*/

.wrapper .main-page{
    flex: 74.45%;
    background: #002347;
    padding: 40px 100px 100px;
    
}

.wrapper .main-page .add{
    color: #FFF;
    text-align: center;

    padding: 3vh;

    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    
}

.wrapper .main-page header{
   border: transparent;
   padding-top: 30px;
}

.wrapper .main-page .add{
    all: unset;
    padding-right: 15px;
    padding-bottom: 2vh;
    border: transparent;
    text-align: center;
    color: #ffffff;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    
}

.wrapper .main-page .prof{
    all:unset;
    padding-right: 15px;
    padding-bottom: 2vh;
    border: transparent;
    text-align: center;
    color: #FF8E00;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;

}



/*form*/
.form-main{
    background-color: #00336691;
    color: #FFF;
    position: relative;
    padding: 70px 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}
.form-main .input-box{
    width: 100%;
    padding: 10px;
}
.form-main .input-box label{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.form-main .input-box input{
    font-size: 20px;
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    background-color: #003F7D8A;
    color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 15px;
}
.form-main .input-box textarea{
    font-size: 20px;
    position: relative;
    height: 200px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    background-color: #003F7D8A;
    color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 15px 15px;
}

.form-main .column{
    display: flex;
    column-gap: 15px;
}

.form-main .input-box select{
    font-size: 20px;
    position: relative;
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid #ddd;
    background-color: #003F7D8A;
    color: #ddd;
    border-radius: 5px;
    margin-top: 10px;
    padding: 0 15px;
}
.form-main .buttons{
    margin-top: 20px;
    display: flex;
    column-gap: 15px;
}
.form-main .btnAdd{
    
    height: 50px;
    width: 50%;
    color: #FFF;
    background-color: #FF8E00;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}
.form-main .btnRes{
    height: 50px;
    width: 50%;
    color: #FFF;
    background-color: #FF8E00;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    outline: none;
    border: none;
    cursor: pointer;
}

.buttons button:hover{
    background-color: #b66401;
}











